@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<MudText Typo="Typo.h4" Class="mb-6 font-weight-bold" Color="Color.Primary">Dashboard TI</MudText>

<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="4" Class="pa-4 rounded-lg border-l-4 border-solid" Style="border-color: #9B111E;">
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.Computer" Color="Color.Primary" Size="Size.Large" />
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary">Equipos</MudText>
                    <MudText Typo="Typo.h5" Class="font-weight-bold">0</MudText>
                </div>
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="4" Class="pa-4 rounded-lg border-l-4 border-solid" Style="border-color: #263238;">
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.Mouse" Color="Color.Secondary" Size="Size.Large" />
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary">Periféricos</MudText>
                    <MudText Typo="Typo.h5" Class="font-weight-bold">0</MudText>
                </div>
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="4" Class="pa-4 rounded-lg border-l-4 border-solid" Style="border-color: #E65100;">
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.ReportProblem" Color="Color.Warning" Size="Size.Large" />
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary">Novedades</MudText>
                    <MudText Typo="Typo.h5" Class="font-weight-bold">0</MudText>
                </div>
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="4" Class="pa-4 rounded-lg border-l-4 border-solid" Style="border-color: #2E7D32;">
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Large" />
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary">Salud Sistema</MudText>
                    <MudText Typo="Typo.h5" Class="font-weight-bold">100%</MudText>
                </div>
            </MudStack>
        </MudPaper>
    </MudItem>
</MudGrid>