@using Microsoft.AspNetCore.Components.Authorization
@using SGAT_QR.Web.Components.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>No encontrado.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>